body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 219, 197);
    width: 80%;
    margin: auto;
    margin-bottom: 56px;
}

h1{
    color: rgb(6, 6, 138);
    text-align: center;
    background-color: rgb(193, 193, 236);
    font-size: 30px;
    margin-bottom: 0;
}

.inf{
    text-align: center;
    
}