body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
    width: 85%;
    margin: auto;
    margin-bottom: 56px;
    color: #444;
}

h1{
    color: #060689;
    text-align: center;
    background-color: #c1c1ec;
    font-size: 46px;
    margin-bottom: 0;
    padding: 10px;
    
}

.inf{
    margin-top: 0;
    background-color:#b3b3c9 ;
    text-align: center;
    
}

.buttons{
   text-align: right;
}

.buttons li{
   list-style-type: none;
   padding: 0;
   display: inline-block;
}

.buttons a{
    background-color: #c1bebe ;
    padding: 16px;
    display: block;
}

.buttons a:hover{
    background-color: #333;
    color: #fff;
    text-decoration: none;
}


h2{
    color: #060689;
    background-color: #b6b6b6;
    font-size: 36px;
    border-bottom: 3px solid;
    padding: 10px;
    margin-top: 48px;
    margin-bottom: 12px;
}


a{
    text-decoration: none;
}

h4{
    color: #605656;
}

ul{
    padding-left: 0;
}

li{
    list-style-position: inside;
}

