body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    width: 85%;
    margin: auto;

}

ul{
    text-align: right;
    
}

ul li{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    
}

ul a{
    background-color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    color:rgb(51, 53, 52)
}

.img1{
    width: 25%;
    background-position: right;
      
    
}