body{
    background-color: rgb(78, 78, 4);
}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
}

h2{
    font-size: 48px;
    font-style: italic;
    font-weight: normal;
}

h3{
    font-size: 38px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline ;
    background-color: blueviolet;
}

p{
    text-indent: 28px;
    text-align: left;
    color: #000000;
    font-variant: small-caps;
}

/*Comentario em CSS*/

a{
    text-decoration: none;
    font-variant: normal;
}

.destaque{
    color: #00ad4e;
    font-weight: bold;
}

.titulos{
    color: rgb(253, 20, 253);
}

#destaque{
    color: rgb(255, 230, 9);
}